<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="pages/commons/layout">
<!--<![endif]-->
<head>
<!-- layout 템플릿 내용 시작 (페이지 완성 후 삭제 필요) -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:text="#{title.tab}">ESP</title>

<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../static/styles/initializr-style.css"
	th:href="@{/static/styles/initializr-style.css}" />
	
<link rel="stylesheet" href="../static/styles/esp-main.css"
	th:href="@{/static/styles/esp-main.css}" />

<link rel="stylesheet" href="../static/dijit/themes/claro/claro.css"
	th:href="@{/static/dijit/themes/claro/claro.css}" />

<script type="text/javascript"
	src="./static/scripts/modernizr-latest.js"
	th:src="@{/static/scripts/modernizr-latest.js}"></script>
<script type="text/javascript" src="../static/scripts/esp-main.js"
	th:src="@{/static/scripts/esp-main.js}"></script>

<script type="text/javascript" src="../static/jquery/jquery-1.8.3.js"
	th:src="@{/static/jquery/jquery-1.8.3.js}"></script>
<!-- layout 템플릿 내용 끝 -->
<!-- <script>dojoConfig = {parseOnLoad: true}</script> -->
<script src='./static/dojo/dojo.js'></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"></script> -->
<!-- <script>require(["dojo/parser", "dijit/InlineEditBox", "dijit/form/TextBox"]);</script> -->
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
if (!window.esp) {
	window.esp = new Object();
}

esp.page = {
		admin : new Object()
};

esp.page.admin = {
	jQueryAjax : function(_url, _param) {
		var _data = {};
		$.ajax( {
	  		url : _url,
	  		type :'POST',
	  		data: _param,
	  		async: false,
			cache: false,
	  		dataType: 'json',
	  		error: function(request, textStatus, errorThrown){
				_data = textStatus;
	  		},
	  		success : function(data) {
				_data = data;
	  		}
	 	});
		return _data;
	},
	changeEvent : function(_obj) {
		var thisId = _obj.id;
    	var sel = $(thisId).selector;
    	var uid = $('td #'+sel).parent().parent().data('uid');
    	if($('#update-btn'+uid).length == 0){
    		$('#update-btn-area'+uid).append('<input type="button" value="수정" id="update-btn'+uid+'"/>');	
    		$('#update-btn'+uid).click(function(){
    			if($('#update-reason'+uid).text()==''){
    				alert('경고!! : 벌점 사유를 입력해주세요.');
    				return;
    			}
    			if($('#update-score'+uid).text()==''){
    				alert('경고!! : 벌점을 입력해주세요.');
    				return;
    			}
    			var data = {};
    			data.id = $('input[name="radio_name"]:checked').val();
    			data.reason = $('#update-reason'+uid).text();
    			data.score = $('#update-score'+uid).text();
    			data.itemid = uid;
    			var result = esp.page.admin.jQueryAjax('/esp/admin/penalty/edit',data);
    			esp.page.admin.appendTable(result);
    		});
    	}
	},
	appendTable : function(_res) {		
		var html = [];
		
		$('#penaltyReason').val('');
		$('#penaltyScore').val('');
		
		if($('tr[name="dynamic-table"]').length > 0){
			$('tr[name="dynamic-table"]').remove();	
		}
		for(var i=0; i<_res.length; i++){
			require(["dijit/registry"], function(registry){
				registry.remove("update-reason"+_res[i].id);
				registry.remove("update-score"+_res[i].id);
			});
		}
		for(var i=_res.length-1; 0 <= i; i--){
			var totalScore = 0;
			for(var j=i; j >= 0; j--){
				totalScore += _res[j].score;
			}
			html.push('<tr name="dynamic-table" class="ct-border-bottom-f16529" id="tr-uid'+_res[i].id+'" data-uid="'+_res[i].id+'">');
			html.push('<td class="ct-padding-top"><div id="update-reason'+_res[i].id+'" data-reason="'+_res[i].reason+'">'+_res[i].reason+'</div></td>');
			html.push('<td class="ct-padding-top"><div id="update-score'+_res[i].id+'" data-score="'+_res[i].score+'">'+_res[i].score+'</div></td>');
			html.push('<td class="ct-padding-top">'+totalScore+'</td>');
			html.push('<td class="ct-padding-top"><div id="update-btn-area'+_res[i].id+'"></div></td>');
			html.push('</tr>');
			$('#penaltiesList').append(html.join(''));
			html = [];
			
			require([
				"dojo/parser", 
				"dijit/InlineEditBox", 
				"dijit/form/TextBox",
				"dijit/form/NumberSpinner"
			], function(parser, InlineEditBox, TextBox, NumberSpinner){
		        new InlineEditBox({
		            editor: TextBox,
		            width: 164,
		            editorParams: {
		            },
		            onChange: function(){
		            	esp.page.admin.changeEvent(this);
		            },
		            autoSave: true
		        }, "update-reason"+_res[i].id);
		        new InlineEditBox({
		            editor: NumberSpinner,
		            width: 70,
		            editorParams: {
		            	constraints:{ max:5, min:-5 }
		            },
		            onChange: function(){
		            	esp.page.admin.changeEvent(this);
		            },
		            autoSave: true
		        }, "update-score"+_res[i].id);
			});			
		}
	}
}
window.onload = function(){
	
	$('.study-schedule div.tr').click(function(){
		var userId = $(this).data("id");
		$('.study-schedule input[value='+userId+']').attr('checked',true);
		var result = esp.page.admin.jQueryAjax('/esp/admin/user-penalty',{'uid':userId});
		esp.page.admin.appendTable(result);
	});
	
	$('#penaltyAddBtn').click(function(){ 
		if($('input[name="radio_name"]:checked').length <= 0){
			alert('경고!! : 유저이름을 선택해주세요.');
			return;
		}
		if($('#penaltyReason').val() == ''){
			alert('경고!! : 벌점 사유를 입력해주세요.');
			return;
		}
		if($('#penaltyScore').val() == ''){
			alert('경고!! : 벌점을 입력해주세요.');
			return;
		}
		var data = {};
		data.id = $('input[name="radio_name"]:checked').val();
		data.reason = $('#penaltyReason').val();
		data.score = $('#penaltyScore').val();
		var result = esp.page.admin.jQueryAjax('/esp/admin/penalty/add',data);
		esp.page.admin.appendTable(result);
	});
}
/*]]>*/
</script>
</head>
<body class="claro">
	<section id="penalty-admin" layout:fragment="main-content">
		<div class="td" style="width:150px">
			<header class="ct-bg-e44d26">
				<b>유저 이름</b>
			</header>
			<div class="study-schedule ct-box-f16529 penalty-panel">
				<div th:each="user : ${allUserList}">
					<div class="tr" th:attr="data-id=${user.id}">  
						<div class="td"><input type="radio" th:value="${user.id}" name="radio_name"/></div>
						<div class="td indent"><label th:text="${user.name}"></label></div> 
					</div>
				</div>
			</div>
		</div>
		<div class="td" style="width:20px"></div>
		<div class="td">
			<header class="ct-bg-e44d26">
				<b>벌점 관리</b>
			</header>
			<div class="study-schedule ct-box-f16529 penalty-panel">
				<table id="penaltiesList" class="width500">
					<thead class="ct-bg-f16529">
						<tr>
							<th class="wd5">벌점이유</th>
							<th class="wd2">점수</th>
							<th class="wd2">누계</th>
							<th class="wd1"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="ct-border-bottom-f16529">
							<td class="ct-padding-top"><input id="penaltyReason" type="text" class="width150"/></td>
							<td class="ct-padding-top"><input id="penaltyScore" type="text" class="width50"/></td>
							<td class="ct-padding-top"></td>
							<td class="ct-padding-top"><input id="penaltyAddBtn" type="button" value="추가"/></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div data-dojo-type="dijit/InlineEditBox" data-dojo-props="editor:'dijit/form/TextBox'">123</div> -->
	</section>
</body>
</html>
