<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="pages/commons/layout">
<!--<![endif]-->
<head>
<!-- layout 템플릿 내용 시작 (페이지 완성 후 삭제 필요) -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:text="#{title.tab}">ESP</title>

<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../static/styles/initializr-style.css"
	th:href="@{/static/styles/initializr-style.css}" />
	
<link rel="stylesheet" href="../static/styles/esp-main.css"
	th:href="@{/static/styles/esp-main.css}" />
	
<script type="text/javascript"
	src="./static/scripts/modernizr-latest.js"
	th:src="@{/static/scripts/modernizr-latest.js}"></script>
<script type="text/javascript" src="../static/scripts/esp-main.js"
	th:src="@{/static/scripts/esp-main.js}"></script>

<script type="text/javascript" src="../static/jquery/jquery-1.8.3.js"
	th:src="@{/static/jquery/jquery-1.8.3.js}"></script>
<!-- layout 템플릿 내용 끝 -->
</head>
<body>
	<section layout:fragment="main-content">
		<article>
			<div class="td adm-cls">
				<h3>스터디원 이름</h3>
				<div class="tr">
					<div class="td "><input type="radio" id="chk_name01" name="radio_name"/></div>
					<div class="td indent"><label for="chk_name01">이하나</label></div>
				</div>
				<div class="tr">
					<div class="td"><input type="radio" id="chk_name02" name="radio_name"/></div>
					<div class="td indent"><label for="chk_name02">임정묵</label></div>
				</div>
				<div class="tr">
					<div class="td"><input type="radio" id="chk_name03" name="radio_name"/></div>
					<div class="td indent"><label for="chk_name03">김주찬</label></div>
				</div>
				<div class="tr">
					<div class="td"><input type="radio" id="chk_name04" name="radio_name" checked="checked"/></div>
					<div class="td indent"><label for="chk_name04">나삼광</label></div>
				</div>
				<div class="tr">
					<div class="td"><input type="radio" id="chk_name05" name="radio_name"/></div>
					<div class="td indent"><label for="chk_name05">배석화</label></div>
				</div>
				<div class="tr">
					<div class="td"><input type="radio" id="chk_name06" name="radio_name"/></div>
					<div class="td indent"><label for="chk_name06">송일근</label></div>
				</div>
				<div class="tr">
					<div class="td"><input type="radio" id="chk_name07" name="radio_name"/></div>
					<div class="td indent"><label for="chk_name07">임기영</label></div>
				</div>
			</div>
			<div class="td adm-content">
				<h3>나삼광</h3>
				<table class="width300">
					<thead class="ct-bg-f16529">
						<tr>
							<th class="wd5">벌점이유</th>
							<th class="wd2">점수</th>
							<th class="wd2">누계</th>
							<th class="wd1"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="ct-border-f16529">연락 후 불참</td>
							<td class="ct-border-f16529">1</td>
							<td class="ct-border-f16529">1</td>
							<td class="ct-border-f16529"><input type="button" value="수정"/></td>
						</tr>
						<tr>
							<td class="ct-border-f16529">연락 후 불참</td>
							<td class="ct-border-f16529">1</td>
							<td class="ct-border-f16529">2</td>
							<td class="ct-border-f16529"><input type="button" value="수정"/></td>
						</tr>
						<tr>
							<td class="ct-border-f16529">연락 후 불참</td>
							<td class="ct-border-f16529">1</td>
							<td class="ct-border-f16529">3</td>
							<td class="ct-border-f16529"><input type="button" value="수정"/></td>
						</tr>
						<tr>
							<td class="ct-border-f16529"><input type="text" class="width150"/></td>
							<td class="ct-border-f16529"><input type="text" class="width50"/></td>
							<td class="ct-border-f16529"></td>
							<td class="ct-border-f16529"><input type="button" value="추가"/></td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	</section>
</body>
</html>
