<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:text="#{title.tab}">ESP</title>

<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../static/styles/initializr-style.css"
	th:href="@{/static/styles/initializr-style.css}" />
<link rel="stylesheet" href="../static/styles/esp-main.css"
	th:href="@{/static/styles/esp-main.css}" />

<script type="text/javascript"
	src="./static/scripts/modernizr-latest.js"
	th:src="@{/static/scripts/modernizr-latest.js}"></script>
<script type="text/javascript" src="./static/scripts/esp-main.js"
	th:src="@{/static/scripts/esp-main.js}"></script>
</head>
<body>
	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title"><a href="/main.html" th:href="@{/}" th:text="#{title.esp}">h1#title</a></h1>
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			<div class="signup">
				<form action="/j_spring_security_check" th:action="@{/j_spring_security_check}"
					method="post" class="well" th:object="${user}">
					<fieldset>
						<label th:text="#{label.login.id}">ID</label>
							<input id="j_username" name="j_username"
								type="text" required="required" autofocus="autofocus"
								class="input span3" placeholder="Your login..." />
						<label th:text="#{label.login.password}">Password</label>
							<input id="j_password" name="j_password" type="password"
								required="required" class="input span3"
								placeholder="Your password..." />
					</fieldset>
					<input type="submit" class="btn" value="Authenticate" th:value="#{label.login.authentication}" />
				</form>
			</div>
		</div>
	</div>
	<!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<h3>footer</h3>
		</footer>
	</div>
</body>
</html>