<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="pages/commons/layout">
<!--<![endif]-->
<head>
<link rel="stylesheet" href="../static/jquery/plugins/file-upload/css/bootstrap-image-gallery.css" 
	th:href="@{/static/jquery/plugins/file-upload/css/bootstrap-image-gallery.css}" />

<link rel="stylesheet" href="../static/jquery/plugins/file-upload/css/jquery.fileupload-ui.css" 
	th:href="@{/static/jquery/plugins/file-upload/css/jquery.fileupload-ui.css}" />
<link rel="stylesheet" href="../static/jquery/plugins/file-upload/css/style.css" 
	th:href="@{/static/jquery/plugins/file-upload/css/style.css}" />

<link rel="stylesheet" type="text/css" href="../static/styles/study-reg.css"
	th:href="@{/static/styles/study-reg.css}" />
<link rel="stylesheet" href="../static/jquery/ui/themes/base/jquery-ui.css" 
	th:href="@{/static/jquery/ui/themes/base/jquery-ui.css}" />

<script type="text/javascript" src="../static/jquery/ui/jquery-ui.js"
	th:src="@{/static/jquery/ui/jquery-ui.js}"></script>
	
<script type="text/javascript" src="../static/jquery/plugins/file-upload/extends/tmpl.js"
	th:src="@{/static/jquery/plugins/file-upload/extends/tmpl.js}"></script>
<script type="text/javascript" src="../static/jquery/plugins/file-upload/extends/load-image.js"
	th:src="@{/static/jquery/plugins/file-upload/extends/load-image.js}"></script>
<script type="text/javascript" src="../static/jquery/plugins/file-upload/extends/canvas-to-blob.js"
	th:src="@{/static/jquery/plugins/file-upload/extends/canvas-to-blob.js}"></script>
<script type="text/javascript" src="../static/jquery/plugins/file-upload/js/jquery.iframe-transport.js"
	th:src="@{/static/jquery/plugins/file-upload/js/jquery.iframe-transport.js}"></script>
<script type="text/javascript" src="../static/jquery/plugins/file-upload/js/jquery.fileupload.js"
	th:src="@{/static/jquery/plugins/file-upload/js/jquery.fileupload.js}"></script>
<script type="text/javascript" src="../static/jquery/plugins/file-upload/js/jquery.fileupload-fp.js"
	th:src="@{/static/jquery/plugins/file-upload/js/jquery.fileupload-fp.js}"></script>
<script type="text/javascript" src="../static/jquery/plugins/file-upload/js/jquery.fileupload-ui.js"
	th:src="@{/static/jquery/plugins/file-upload/js/jquery.fileupload-ui.js}"></script>

<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=8870ab8bb69996dd65f45e98474784616a84f80e"></script>
<script type="text/javascript" src="../static/scripts/study-reg.js" th:src="@{/static/scripts/study-reg.js}"></script>
 <script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		esp.pageInit("reg");
	});
/*]]>*/
</script>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-upload fade">
	        <td class="preview">
				<span class="fade"></span>
			</td>
			<td class="name">filename : <span>{%=file.name%}</span></td>
			<td class="size">filesize : <span>{%=o.formatFileSize(file.size)%}</span></td>
	        {% if (file.error) { %}
	            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
	        {% } %}
			<td class="start hide">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
			<td class="cancel hide">{% if (!i) { %}
            	<button class="btn btn-warning">
                	<i class="icon-ban-circle icon-white"></i>
                	<span>Cancel</span>
            	</button>
			{% } %}</td>
	    </tr>
	{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-download fade">
	        <td class="preview">
				<span class="fade"></span>
			</td>
			<td class="name">name : <span>{%=file.name%}</span></td>
			<td class="size">size : <span>{%=o.formatFileSize(file.size)%}</span></td>
	        {% if (file.error) { %}
	            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
	        {% } %}
			<td class="delete">
            	<button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
	                <i class="icon-trash icon-white"></i>
                	<span>Delete</span>
            	</button>
        	</td>
	    </tr>
	{% } %}
</script>
</head>
<body>
	<section id="study-reg-section" layout:fragment="main-content">
		<article>
			<header class="ct-bg-e44d26">
				<b>스터디 등록</b>
			</header>
			<div class="std-reg">
				<div class="table">
					<div class="tr">
						<div class="td wd4">
							<form action="/study/add" th:action="@{/study/add}" method="POST" 
								class="reg-form well" th:object="${studyRoom}">
								<div class="td">
									<label>스터디명</label>
									<input id="s_nm" name="name"
										type="text" required="required" autofocus="autofocus"
										class="input span3" placeholder="스터디명" />
									<label>시작일</label>
									<input id="s_fdate" name="startDate"
										type="text" required="required"
										class="input span3" placeholder="날짜 선택" />
									<label>종료일</label>
									<input id="s_tdate" name="endDate"
										type="text" required="required"
										class="input span3" placeholder="날짜 선택" />
									<label>소개글</label>
									<textarea name="description" class="input span3" maxlength="100"
										rows="3" cols="33" 
										placeholder="스터디 소개글을 입력해주세요."></textarea>		
								</div>
								<p></p>
								<input type="submit" class="btn" value="등록" />
							</form>
						</div>
						<div class="td">
							<div id="upload-container">
								<label>아이콘 등록</label>
								<form id="fileupload" action="/image/upload" th:action="@{/image/upload}" method="POST"
									enctype="multipart/form-data" th:object="${image}">
									<div class="row fileupload-buttonbar">
							            <div>
							                <span class="btn btn-success fileinput-button">
							                    <i class="icon-plus icon-white"></i>
							                    <span>Add</span>
							                    <input type="file" name="file" multiple="multiple"/>
							                </span>
							                <button type="submit" class="btn btn-primary start">
							                    <i class="icon-upload icon-white"></i>
							                    <span>Start</span>
							                </button>
							                <button type="reset" class="btn btn-warning cancel">
							                    <i class="icon-ban-circle icon-white"></i>
							                    <span>Cancel</span>
							                </button>
							            </div>
							            <div class="fileupload-progress">
							                <div class="progress progress-success progress-striped active" 
							                	role="progressbar" aria-valuemin="0" aria-valuemax="100">
							                    <div class="bar" style="width:0%;"></div>
							                </div>
							                <div class="progress-extended"></div>
							            </div>
							        </div>
							        <table role="presentation" class="table table-striped upload-table">
							        	<tbody class="files" data-toggle="modal-gallery" 
							        		data-target="#modal-gallery"></tbody>
							        </table>
								</form>
							</div>
							<div id="place-container">
								<div class="place-btnbar">
									<label class="title">장소 등록</label>
									<span class="btn btn-success fileinput-button place-add-btn">
					                    <i class="icon-plus icon-white"></i>
					                    <span>Add</span>
					                    <input class="place-add-btn" type="button" name="add" />
					                </span>
								</div>
								<div class="place-infobar">
									<span class="place-name">이름 : </span><div class="ellipsis place-name">토즈 강남 타워점</div>
									<span class="place-addr">주소 : </span><div class="ellipsis place-addr">서울 강남구 강남동 123-12</div>
									<input id="latitude" type="hidden" />
									<input id="longitude" type="hidden" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="place-selector" class="hide">
				<div id="map-search-view">
					<div class="search-input">
						<input class="search-word" type="text" placeholder="주소검색"></input>
						<input class="btn-success search-btn" type="button" value="검색"></input>
					</div>
					<div class="search-result-count"></div>
					<div class="search-result">
					</div>
				</div>
				<div id="study-place-map" class="ct-box"></div>
			</div>
		</article>
	</section>
</body>
</html>
