<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="pages/commons/layout">
<!--<![endif]-->
<head>
<!-- layout 템플릿 내용 시작 (페이지 완성 후 삭제 필요) -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:text="#{title.tab}">ESP</title>

<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../static/styles/initializr-style.css"
	th:href="@{/static/styles/initializr-style.css}" />
	
<link rel="stylesheet" href="../static/styles/esp-main.css"
	th:href="@{/static/styles/esp-main.css}" />
	
<script type="text/javascript"
	src="./static/scripts/modernizr-latest.js"
	th:src="@{/static/scripts/modernizr-latest.js}"></script>
<script type="text/javascript" src="../static/scripts/esp-main.js"
	th:src="@{/static/scripts/esp-main.js}"></script>

<script type="text/javascript" src="../static/jquery/jquery-1.8.3.js"
	th:src="@{/static/jquery/jquery-1.8.3.js}"></script>
<!-- layout 템플릿 내용 끝 -->
</head>
<body>
	<section layout:fragment="main-content">
		<header>
			<div>
				<h2>타이틀영역</h2>
			</div>
		</header>
		<article>
			<div>
		    	<div id="main-content">
		        	<ul class="vertical tabs">
			            <li class="first">
			                <a href="study-main.html">info</a>
			            </li>
			            <li>
			               	<a href="study-board.html">게시판</a>
			            </li>
			            <li>
			               	<a href="study-member.html">구성원</a>
			            </li>
			            <li>
			               	<a href="study-schedule.html">일정</a>
			            </li>
			            <li class="active">
			               	<a href="study-meeting.html">모임장</a>
			            </li>
			        </ul>
					<div class="active-area">
						<div class="ct-box">
							<div class="tr">
								<div class="td">날짜</div>
								<div class="td indent">2012-01-22</div>
							</div>
							<div class="tr">
								<div class="td indent">주제</div>
								<div class="td indent">-</div>
							</div>
							<div class="tr">
								<div class="td indent">장소</div>
								<div class="td indent">-</div>
							</div>
							<div class="tr">
								<div class="td indent">시간</div>
								<div class="td indent">-</div>
							</div>
						</div>
						<div class="ct-box">
							<div class="tr">
								<div class="td">날짜</div>
								<div class="td indent">2012-02-09</div>
							</div>
							<div class="tr">
								<div class="td indent">주제</div>
								<div class="td indent">-</div>
							</div>
							<div class="tr">
								<div class="td indent">장소</div>
								<div class="td indent">-</div>
							</div>
							<div class="tr">
								<div class="td indent">시간</div>
								<div class="td indent">-</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</body>
</html>
