@CHARSET "UTF-8";

.upload-table {
	background-color: #F16529 !important;
}

.upload-table .preview {
	background-color: #F16529 !important;
	border: none !important;
}

.upload-table .name {
	background-color: #F16529 !important;
	border: none !important;
}

.upload-table .size {
	background-color: #F16529 !important;
	border: none !important;
}

#fileupload .row {
	margin: 0;
}

.progress {
	margin-bottom: 5px;
}

input.span3, textarea.span3, .uneditable-input.span3 {
	width: 206px;
}